.section {
    background-color: white;
    border: 1px solid #ddd;
    margin: 5px 0;
    box-shadow: 3px -3px 10px 1px hsl(0deg 2.77% 80%);
}

.section__header {
    border-bottom: 1px solid #ddd;
    padding: 20px 25px;
    margin: 0;
}
