html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    background-color: hsl(0, 0%, 90%);
    word-break: break-word;
}

.flex {
    display: flex;
    flex-direction: column;
}

.list__item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin: 0 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

.js-tasks {
    padding: 10px 0;
}

.flexContent {
    flex-basis: 90%;
    align-self: center;
}

.list__item--done {
    text-decoration: line-through;
}

.task__button {
    flex-basis: 35px;
    height: 35px;
    margin: 0 10px;
    flex-shrink: 0;
    border: none;
}

.task__button--done {
    background-color: hsl(120, 93%, 35%);
}

.task__button--done:hover {
    background-color: hsl(120, 93%, 40%);
}

.task__button--remove {
    background-color: hsl(0, 98%, 45%);
}

.task__button--remove:hover {
    background-color: hsl(0, 100%, 55%);
}